//META{"name":"Kiyohinnamon","description":"A theme for bright hair lovers","author":"Rayleigh Byakuya","version":"1.0"}*//
@import url("https://gitcdn.xyz/repo/BellSilver/BetterDiscord/master/Themes/Kiyohinnamon.theme.css");
@import url("https://raw.githubusercontent.com/BellSilver/BetterDiscord/master/Themes/Kiyohinnamon.theme.css");

.app {
  background-image: url("https://images3.alphacoders.com/875/875647.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
}
.guilds {
        background-image: url("https://i.imgur.com/aNDGqli.png") !important;
}
.scroller-fzNley.scroller-NXV0-d {
   background-image: url("https://static.zerochan.net/Berserker.%28Kiyohime%29.full.2019073.jpg") !important;
background-size: cover !important;
background-position: center !important;
}

.nameDefaultText-QoumjC,
.nameDefaultVoice-1swZoh,
.nameLockedText-2fGz07,
.nameLockedVoice-wNOMNa {
    color: rgb(114, 118, 125);
}
.channels-3g2vYe {
    background-color: transparent;
}
.container-RYiLUQ {
    background-color: transparent;
}
.container-2OU7Cz {
    background-color: transparent;
}
.theme-dark .layer, .theme-dark .layers {
    background: rgba(0,0,0,0.34);
}
.guilds-wrapper {
    background-color: transparent;
}
.theme-dark .chat form .typing {
    background-color: transparent;
}
.theme-dark .chat form {
    background-color: transparent;
    box-shadow: none;
}
.theme-dark .chat>.content {
    background-color: transparent;
}
.theme-dark .chat {
    background-color: transparent;
}
.chat .messages {
    background: transparent;
}
.theme-dark .friends-table, .theme-dark .messages-wrapper {
    background-color: transparent;
}
.theme-dark .channel-members {
    background-color: transparent;
}
.theme-dark .title-qAcLxz {
    background: transparent;
    box-shadow: none;
}

.theme-dark #friends {
    background-color: transparent;
}
.theme-dark .headerBar-cxbhPD {
    background: transparent;
}
.contentSelectedText-3j5CXt,.contentHoveredText-2HYGIY {
    background-color: transparent;
}
.theme-dark .ui-standard-sidebar-view .content-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view .sidebar-region {
    background: transparent;
}
.theme-dark .ui-standard-sidebar-view {
    background: transparent;
}
